<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjPy0eMbLbxJckwd9he7r0fsLjZW-d_fg</string>
	<key>GCM_SENDER_ID</key>
	<string>924655811023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astral.aiImageGenerator.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ai-image-generator-d5aee</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-image-generator-d5aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924655811023:ios:1da22462de52ec1f94baba</string>
	<key>DATABASE_URL</key>
	<string>https://ai-image-generator-d5aee-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>